.button-change-color {
  position: fixed;
  bottom: 5px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-light {
  display: flex;
  text-decoration: none;
  background-color: #c5e4ff;
  color: #44596e;
}

.active-dark {
  display: flex;
  text-decoration: none;
  background-color: #00458b;
  color: #b6c8d9;
}
